{% extends "base.html" %}

<!--  -->

{% load static %} {% load i18n %}

<!--  -->

{% block head_title %}{% trans "Welcome" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Index Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block header %}
<!--  -->
{% endblock header %}

<!--  -->

{% block content %}
<main>
  <video
    class="fixed left-0 top-0 -z-10 h-screen w-screen object-cover"
    autoplay
    loop
    muted
  >
    <source src="{% static 'videos/particles.mp4' %}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="flex min-h-screen items-center justify-center">
    <div class="flex gap-7">
      {% if request.user.is_authenticated %}
      <a
        class="flex items-center justify-center rounded-lg bg-gradient-to-l from-blue-500 via-blue-600 to-blue-700 px-5 py-2.5 hover:bg-gradient-to-r focus:outline-none focus:ring-4 focus:ring-blue-400"
        href="{% url 'account_login' %}"
      >
        <span class="text-xl font-medium text-gray-100 md:text-2xl lg:text-3xl">
          Home
        </span>
      </a>
      <a
        class="flex items-center justify-center rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 px-5 py-2.5 hover:bg-gradient-to-l focus:outline-none focus:ring-4 focus:ring-blue-400"
        href="{% url 'account_logout' %}"
      >
        <span class="text-xl font-medium text-gray-100 md:text-2xl lg:text-3xl">
          Sign Out
        </span>
      </a>
      {% else %}
      <a
        class="flex items-center justify-center rounded-lg bg-gradient-to-l from-blue-500 via-blue-600 to-blue-700 px-5 py-2.5 hover:bg-gradient-to-r focus:outline-none focus:ring-4 focus:ring-blue-400"
        href="{% url 'account_login' %}"
      >
        <span class="text-xl font-medium text-gray-100 md:text-2xl lg:text-3xl">
          Sign In
        </span>
      </a>
      <a
        class="flex items-center justify-center rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 px-5 py-2.5 hover:bg-gradient-to-l focus:outline-none focus:ring-4 focus:ring-blue-400"
        href="{% url 'account_signup' %}"
      >
        <span class="text-xl font-medium text-gray-100 md:text-2xl lg:text-3xl">
          Sign Up
        </span>
      </a>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}

<!--  -->

{% block footer %}
<!--  -->
{% endblock footer %}
