{% extends "base.html" %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{{ title }}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Task Form Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>{{ h1 }}</h1>

  <hr />

  <form method="post">
    {% csrf_token %}

    <div>
      <label for="{{ form.title.name }}">{{ form.title.label }}:</label>
      <div>{{ form.title }}</div>
      <div>{{ form.title.help_text|safe }}</div>
    </div>

    <br />

    <div>
      <label for="{{ form.day.name }}">{{ form.day.label }}:</label>
      <div>
        <select id="{{ form.day.auto_id }}" name="{{ form.day.name }}">
        {% for value, label in form.fields.day.choices %}
          <option value="{{ value }}"{% if form.day.value == value %} selected{% endif %}>{{ label.title }}</option>
        {% endfor %}
        </select>
      </div>
      <div>{{ form.day.help_text|safe }}</div>
    </div>

    <br />

    <div>
      <label for="{{ form.time_start.name }}">
        {{ form.time_start.label }}:
      </label>
      <div>{{ form.time_start }}</div>
      <div>{{ form.time_start.help_text|safe }}</div>
    </div>

    <br />

    <div>
      <label for="{{ form.time_end.name }}">{{ form.time_end.label }}:</label>
      <div>{{ form.time_end }}</div>
      <div>{{ form.time_end.help_text|safe }}</div>
    </div>

    <br />

    <div>
      <button type="submit">Submit</button>
      <a href="{{ request.META.HTTP_REFERER }}">Back</a>
    </div>
  </form>

  <hr />
</main>
{% endblock content %}
