@layer base {
  .form-control {
    @apply w-full
    rounded-lg
    border
    border-border-light
    bg-background-primary-light 
    text-sm 
    transition-colors
    duration-300 
  placeholder:text-text-light
  hover:border-primary-light
  focus:border-primary-light
  dark:border-border-dark 
  dark:bg-background-primary-dark 
  dark:placeholder:text-text-dark 
  dark:hover:border-primary-dark 
  dark:focus:border-primary-dark;
  }
}

/* Accounts */
#id_login,
#id_password,
#id_email,
#id_username,
#id_password1,
#id_password2,
#id_oldpassword {
  @apply form-control;
}

/* Task Form */
#id_title,
#id_day,
#id_time_start,
#id_time_end {
  @apply form-control;
}
