{% extends "base.html" %}

<!--  -->

{% load account %}

<!--  -->

{% block head_title %}Confirm E-mail{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Email Confirm Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="mb-4 rounded-lg border border-border-light bg-background-secondary-light p-4 shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">
          Confirm Email Address
        </h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        {% if confirmation %}
        <!--  -->
        {% user_display confirmation.email_address.user as user_display %}
        <!--  -->
        {% if can_confirm %}
        <p class="mb-4">
          Please confirm that
          <a
            class="rounded-lg text-blue-500 underline-offset-2 hover:underline dark:text-blue-500"
            href="mailto:{{ email }}"
          >
            <span class="font-medium">{{ email }}</span>
          </a>
          is an email address for user {{ user_display }}.
        </p>

        <form
          method="POST"
          action="{% url 'account_confirm_email' confirmation.key %}"
        >
          {% csrf_token %}

          <button
            class="flex w-full items-center justify-center rounded-lg bg-primary-light bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-primary-dark dark:bg-opacity-90 dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
            type="submit"
          >
            <span class="text-sm font-medium">Confirm</span>
          </button>
        </form>
        {% else %}
        <p class="mb-4">
          Unable to confirm {{ email }} because it is already confirmed by a
          different account.
        </p>
        {% endif %}
        <!--  -->
        {% else %}
        <!--  -->
        {% url 'account_email' as email_url %}
        <p class="mb-4">This email confirmation link expired or is invalid.</p>
        <p>
          <a
            class="rounded-lg text-blue-500 underline-offset-2 hover:underline dark:text-blue-500"
            href="{{ email_url }}"
          >
            <span class="font-medium">Request a new confirmation email.</span>
          </a>
        </p>
        {% endif %}
      </div>

      {% include 'account/snippets/terms_privacy.html' %}
    </div>
  </div>
</main>
{% endblock content %}
