{% extends 'base.html' %}

<!--  -->

{% block head_title %}Email Addresses{% endblock head_title %}

<!--  -->

{% block content %}

<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="mb-4 rounded-lg border border-border-light bg-background-secondary-light p-4 shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">
          Email Addresses
        </h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        {% if emailaddresses %}
        <p class="mb-4">
          The following email addresses are associated with your account:
        </p>

        <form
          class="email_list"
          method="POST"
          action="{% url 'account_email' %}"
        >
          {% csrf_token %}

          <fieldset class="blockLabels">
            {% for emailaddress in emailaddresses %}
            <div class="ctrlHolder mb-4">
              <label
                class="{% if emailaddress.primary %}primary_email{%endif%}"
                for="email_radio_{{forloop.counter}}"
              >
                <input
                  id="email_radio_{{forloop.counter}}"
                  type="radio"
                  name="email"
                  value="{{emailaddress.email}}"
                />

                {{ emailaddress.email }}
                <!--  -->
                <div class="ms-5 mt-2 flex gap-2">
                  {% if emailaddress.primary %}
                  <span
                    class="rounded-lg bg-primary-light px-1 text-center text-sm font-medium text-white dark:bg-primary-dark dark:text-white"
                  >
                    Primary
                  </span>
                  {% endif %}
                  <!--  -->
                  {% if emailaddress.verified %}
                  <span
                    class="bg-success-light dark:bg-success-dark rounded-lg px-1 text-center text-sm font-medium text-white dark:text-white"
                  >
                    Verified
                  </span>
                  {% else %}
                  <span
                    class="rounded-lg bg-danger-light px-1 text-center text-sm font-medium text-white dark:bg-danger-dark dark:text-white"
                  >
                    Unverified
                  </span>
                  {% endif %}
                </div>
              </label>
            </div>
            {% endfor %}

            <div class="buttonHolder">
              <div class="mb-3 grid grid-cols-3 gap-4">
                <button
                  class="secondaryAction flex items-center justify-center rounded-lg bg-primary-light bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-primary-dark dark:bg-opacity-90 dark:text-white dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
                  type="submit"
                  name="action_primary"
                >
                  <span class="text-sm font-medium">Primary</span>
                </button>

                <button
                  class="secondaryAction bg-success-light dark:bg-success-dark flex items-center justify-center rounded-lg bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-opacity-90 dark:text-white dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
                  type="submit"
                  name="action_send"
                >
                  <span class="text-sm font-medium">Verify</span>
                </button>

                <button
                  class="primaryAction flex items-center justify-center rounded-lg bg-danger-light bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-danger-dark dark:bg-opacity-90 dark:text-white dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
                  type="submit"
                  name="action_remove"
                >
                  <span class="text-sm font-medium">Remove</span>
                </button>
              </div>
            </div>
          </fieldset>
        </form>
        {% else %}
        <!--  -->
        {% include "account/snippets/warn_no_email.html" %}
        <!--  -->
        {% endif %}
        <!--  -->
        {% if can_add_email %}
        <hr class="mb-4 border-border-light dark:border-border-dark" />

        <h2 class="mb-4">Add Email Address:</h2>

        <form
          class="add_email"
          method="POST"
          action="{% url 'account_email' %}"
        >
          {% csrf_token %}

          <!--  -->

          {% if form.errors %}
          <div
            class="mb-4 rounded-lg border border-danger-light border-opacity-25 bg-danger-light bg-opacity-20 p-4 dark:border-danger-dark dark:border-opacity-40 dark:bg-danger-dark dark:bg-opacity-20"
          >
            {% for field in form %}
            <!--  -->
            {% for error in field.errors %}
            <p class="text-sm">{{ error }}</p>
            {% endfor %}
            <!--  -->
            {% endfor %}
          </div>
          {% endif %}

          <div class="mb-4">
            <label class="fixed left-[9999px]" for="{{ form.email.auto_id }}">
              {{ form.email.name }}
            </label>
            {{ form.email }}
          </div>

          <div class="grid grid-cols-2 gap-4">
            <button
              class="w-full rounded-lg bg-primary-light bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-primary-dark dark:bg-opacity-90 dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
              name="action_add"
              type="submit"
            >
              <span class="text-sm font-medium">Confirm</span>
            </button>

            <a
              class="flex items-center justify-center rounded-lg bg-primary-light bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-primary-dark dark:bg-opacity-90 dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
              href="{% url 'pages:home' %}"
            >
              <span class="text-sm font-medium">Back</span>
            </a>
          </div>
        </form>
        {% endif %}
      </div>

      {% include 'account/snippets/terms_privacy.html' %}
    </div>
  </div>
</main>

{% endblock content %}

<!--  -->

{% block extra_body %}
<script type="text/javascript">
  (function () {
    var message = "Do you really want to remove the selected email address?";
    var actions = document.getElementsByName("action_remove");
    if (actions.length) {
      actions[0].addEventListener("click", function (e) {
        if (!confirm(message)) {
          e.preventDefault();
        }
      });
    }
  })();
</script>
{% endblock extra_body %}
