{% extends 'base.html' %}

<!--  -->

{% block head_title %}Sign In{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Login Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}

<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="mb-4 rounded-md border border-border-light bg-background-secondary-light p-4 shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">Sign In</h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}

          <!--  -->

          {% if form.non_field_errors %}
          <div
            class="mb-4 rounded-md border border-error-light border-opacity-25 bg-error-light bg-opacity-20 p-4 dark:border-error-dark dark:border-opacity-40 dark:bg-error-dark dark:bg-opacity-20"
          >
            {% for error in form.non_field_errors %}
            <p class="text-center text-sm">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="mb-4">
            <label class="fixed left-[9999px]" for="{{ form.login.auto_id }}">
              {{ form.login.name }}
            </label>
            {{ form.login }}
          </div>

          <div class="mb-4">
            <label
              class="fixed left-[9999px]"
              for="{{ form.password.auto_id }}"
            >
              {{ form.password.name }}
            </label>
            {{ form.password }}
          </div>

          <button
            class="w-full rounded-md bg-primary-light bg-opacity-90 px-2.5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:bg-primary-dark dark:bg-opacity-90 dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
            type="submit"
          >
            <span class="text-sm font-medium">Next</span>
          </button>
        </form>
      </div>

      <div
        class="mb-4 rounded-md border border-border-light px-24 py-4 shadow-md shadow-shadow-light dark:border-border-dark dark:shadow-none"
      >
        <a
          class="flex items-center justify-center rounded-md text-blue-500 underline-offset-2 hover:underline dark:text-blue-500"
          href="{% url 'account_reset_password' %}"
        >
          <span class="text-sm font-medium">Forgot Password?</span>
        </a>
      </div>

      {% include 'account/snippets/terms_privacy.html' %}
    </div>
  </div>
</main>

{% endblock content %}
