{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Password Change Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>{% trans "Change Password" %}</h1>

  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}

    <div>{{ form.as_p }}</div>

    <button type="submit">{% trans "Change Password" %}</button>

    <a href="{% url 'account_reset_password' %}">
      {% trans "Forgot Password?" %}
    </a>
  </form>
</main>
{% endblock content %}
