{% extends 'base.html' %}

<!--  -->

{% load account %} {% load i18n %}

<!--  -->

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Password Reset Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>{% trans "Password Reset" %}</h1>

  <form method="post" action="{% url 'account_reset_password' %}">
    {% if user.is_authenticated %}
    <!--  -->
    {% include "account/snippets/already_logged_in.html" %}
    <!--  -->
    {% endif %}
    <p>
      {% blocktrans %}
      <!--  -->
      "Enter your user email address and we will send you a password reset
      link."
      <!--  -->
      {% endblocktrans %}
    </p>
    {% csrf_token %}

    <div>{{ form.as_p }}</div>

    <button type="submit">{% trans "Reset Password" %}</button>
  </form>
</main>
{% endblock content %}
