{% extends 'base.html' %}

<!--  -->

{% block head_title %}Change Password{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Password Reset From Key Done Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="mb-4 rounded-lg border border-border-light bg-background-secondary-light p-4 shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">
          Change Password
        </h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        <p class="mb-4 text-center">Your password is now changed.</p>

        {% if request.user.is_authenticated %}
        <a class="btn-primary w-full" href="{% url 'app:home' %}">
          <span class="btn-text text-sm">Home</span>
        </a>
        {% else %}
        <a class="btn-primary w-full" href="{% url 'account_login' %}">
          <span class="btn-text text-sm">Sign In</span>
        </a>
        {% endif %}
      </div>

      {% include 'account/snippets/terms_privacy.html' %}
    </div>
  </div>
</main>
{% endblock content %}
