{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Password Set Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>{% trans "Set Password" %}</h1>

  <form method="post" action="{% url 'account_set_password' %}">
    {% csrf_token %}

    <div>{{ form.as_p }}</div>

    <input type="submit" value="{% trans 'Set Password' %}" />
  </form>
</main>
{% endblock content %}
