{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Password Reset From Key Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>
    {% if token_fail %}
    <!--  -->
    {% trans "Bad Token" %}
    <!--  -->
    {% else %}
    <!--  -->
    {% trans "Change Password"%}
    <!--  -->
    {% endif %}
  </h1>

  {% if token_fail %}
  <!--  -->
  {% url 'account_reset_password' as passwd_reset_url %}
  <p>
    {% blocktrans %}
    <!--  -->
    The password reset link was invalid, possibly because it has already been
    used.
    <!--  -->
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
    <!--  -->
    Please request a
    <a href="{{ passwd_reset_url }}">new password reset</a>.
    <!--  -->
    {% endblocktrans %}
  </p>
  {% else %}
  <form method="post" action="{{ action_url }}">
    {% csrf_token %}

    <div>{{ form.as_p }}</div>

    <input type="submit" value="{% trans 'Change Password' %}" />
  </form>
  {% endif %}
</main>
{% endblock content%}
