{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{% trans "Confirm Access" %}{% endblock head_title %}

<!--  -->

{% block content %}
<main>
  <h1>{% trans "Confirm Access" %}</h1>

  <p>
    {% blocktrans %}
    <!--  -->
    To safeguard the security of your account, please enter your password:
    <!--  -->
    {% endblocktrans %}
  </p>

  <form method="POST" action="{% url 'account_reauthenticate' %}">
    {% csrf_token %}

    <div>{{ form.as_p }}</div>

    {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}

    <button type="submit">{% trans "Confirm" %}</button>
  </form>
</main>
{% endblock content %}
