{% extends 'base.html' %}

<!--  -->

{% block head_title %}Sign Up{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Signup Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="mb-4 rounded-lg border border-border-light bg-background-secondary-light p-4 shadow-md dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">Sign Up</h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        <form method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}

          <!--  -->

          {% if form.errors %}
          <div
            class="mb-4 rounded-lg border border-danger-light border-opacity-25 bg-danger-light bg-opacity-20 px-4 py-2 dark:border-opacity-40 dark:bg-danger-dark dark:bg-opacity-20"
          >
            {% for field in form %}
            <!--  -->
            {% for error in field.errors %}
            <ul>
              <li class="my-2 text-sm">{{ error }}</li>
            </ul>
            {% endfor %}
            <!--  -->
            {% endfor %}
          </div>
          {% endif %}

          <div class="mb-4">
            <label class="fixed left-[9999px]" for="{{ form.email.auto_id }}">
              {{ form.email.name }}
            </label>
            {{ form.email }}
          </div>

          <div class="mb-4">
            <label
              class="fixed left-[9999px]"
              for="{{ form.username.auto_id }}"
            >
              {{ form.username.name }}
            </label>
            {{ form.username }}
          </div>

          <div class="mb-4">
            <label
              class="fixed left-[9999px]"
              for="{{ form.password1.auto_id }}"
            >
              {{ form.password1.name }}
            </label>
            {{ form.password1 }}
          </div>

          <div class="mb-4">
            <label
              class="fixed left-[9999px]"
              for="{{ form.password2.auto_id }}"
            >
              {{ form.password2.name }}
            </label>
            {{ form.password2 }}
          </div>

          {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}

          <button class="btn-primary w-full" type="submit">
            <span class="btn-text text-sm">Confirm</span>
          </button>
        </form>
      </div>

      {% include 'account/snippets/terms_privacy.html' %}
    </div>
  </div>
</main>
{% endblock content %}
