{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Sign Up Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>{% trans "Sign Up" %}</h1>

  <p>
    {% blocktrans %}
    <!--  -->
    Already have an account? Then please
    <a href="{{ login_url }}">sign in</a>.
    <!--  -->
    {% endblocktrans %}
  </p>

  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <div>{{ form.as_p }}</div>

    {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}

    <button type="submit">{% trans 'Submit' %}</button>
  </form>
</main>
{% endblock content %}
