{% extends 'base.html' %}

<!--  -->

{% block head_title %}Verify Your E-mail Address{% endblock %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Verified Email Required Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}

<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="mb-4 rounded-md border border-border-light bg-background-secondary-light p-4 shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">
          Verify Your E-mail Address
        </h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        {% url 'account_email' as email_url %}
        <p class="mb-4 text-center">
          This part of the site requires us to verify that you are who you claim
          to be. For this purpose, we require that you verify ownership of your
          e-mail address.
        </p>

        <p class="mb-4 text-center">
          We have sent an e-mail to you for verification. Please click on the
          link inside that e-mail. If you do not see the verification e-mail in
          your main inbox, check your spam folder. Otherwise contact us if you
          do not receive it within a few minutes.
        </p>

        <p class="text-center">
          <strong>Note:</strong> you can still
          <a
            class="rounded-md text-blue-500 underline-offset-2 hover:underline dark:text-blue-500"
            href="{{ email_url }}"
          >
            <span class="font-medium">change your e-mail address</span>
          </a>
          .
        </p>
      </div>

      {% include 'account/snippets/terms_privacy.html' %}
    </div>
  </div>
</main>

{% endblock content %}
