{% extends "base.html" %}

<!--  -->

{% load static %}

<!--  -->

{% block head_title %}Welcome{% endblock head_title %}

<!--  -->

{% block extra_head %}

<meta name="description" content="Home Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block body %}

<body
  class="min-h-screen bg-background-primary-light bg-light bg-cover bg-center font-primary text-text-light dark:bg-background-primary-dark dark:bg-dark dark:text-text-dark"
>
  <div
    class="min-h-screen bg-background-primary-light bg-opacity-25 dark:bg-background-primary-dark dark:bg-opacity-75"
  >
    {% block header %}
    <!--  -->
    {% include "components/navbar.html" %}
    <!--  -->
    {% endblock header %}

    <!--  -->

    {% block message %}
    <!--  -->
    {% include 'components/message.html' %}
    <!--  -->
    {% endblock message %}

    <!--  -->

    {% block content %}

    <main class="pb-8 pt-16">
      <div
        class="mx-auto flex h-16 w-[90%] max-w-[100rem] items-center justify-between"
      >
        <div>
          <h1 class="m-0 text-lg font-medium sm:text-xl">
            Welcome<span class="hidden sm:inline-block">
              , {{ request.user.username }}
            </span>
          </h1>
          <div class="text-xs font-medium sm:text-sm">{% now "l - H:i" %}</div>
        </div>

        {% if tasks %}
        <div class="grid grid-cols-2 gap-x-4">
          <a
            class="flex items-center justify-center rounded-md border border-primary-light bg-primary-light bg-opacity-90 px-5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:border-primary-dark dark:bg-primary-dark dark:bg-opacity-90 dark:text-white dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
            href="{% url 'todo:create' %}"
          >
            <span class="text-sm font-medium">Create</span>
          </a>
          <a
            class="flex items-center justify-center rounded-md border border-primary-light bg-primary-light bg-opacity-90 px-5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:border-primary-dark dark:bg-primary-dark dark:bg-opacity-90 dark:text-white dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
            href="{% url 'todo:reset' %}"
          >
            <span class="text-sm font-medium">Reset</span>
          </a>
        </div>
        {% else %}
        <a
          class="flex items-center justify-center rounded-md border border-primary-light bg-primary-light bg-opacity-90 px-5 py-2 text-white transition-colors duration-300 hover:bg-opacity-100 focus:bg-opacity-100 dark:border-primary-dark dark:bg-primary-dark dark:bg-opacity-90 dark:text-white dark:hover:bg-opacity-100 dark:focus:bg-opacity-100"
          href="{% url 'todo:create' %}"
        >
          <span class="text-sm font-medium">Create</span>
        </a>
        {% endif %}
      </div>

      {% if tasks %}
      <!--  -->
      {% else %}
      <div class="border-b border-border-light dark:border-border-dark"></div>
      {% endif %}

      <!--  -->

      {% if tasks %}
      <div
        class="mx-auto grid max-w-[100rem] grid-cols-1 border-t-2 border-border-light dark:border-border-dark sm:grid-cols-2 lg:grid-cols-4"
      >
        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] sm:border-r-2 lg:min-h-[19rem] lg:border-l-2"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Monday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'monday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] lg:min-h-[19rem] lg:border-r-2"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Tuesday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'tuesday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] sm:border-r-2 lg:min-h-[19rem]"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Wednesday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'wednesday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] lg:min-h-[19rem] lg:border-r-2"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Thursday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'thursday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] sm:border-r-2 lg:min-h-[19rem] lg:border-l-2"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Friday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'friday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] lg:min-h-[19rem] lg:border-r-2"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Saturday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'saturday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div
          class="min-h-[10.75rem] border-b-2 border-border-light bg-background-primary-light bg-opacity-0 transition-colors duration-300 hover:bg-opacity-75 dark:border-border-dark dark:bg-background-primary-dark dark:bg-opacity-0 dark:hover:bg-opacity-75 sm:min-h-[15rem] sm:border-r-2 lg:min-h-[19rem]"
        >
          <h2
            class="border-b-2 border-border-light bg-background-secondary-light bg-opacity-75 py-2 text-center dark:border-border-dark dark:bg-background-secondary-dark dark:bg-opacity-75"
          >
            Sunday
          </h2>
          <ul>
            {% for task in tasks %}
            <!--  -->
            {% if task.day.title.lower == 'sunday' %}
            <!--  -->
            {% include 'components/task.html' %}
            <!--  -->
            {% endif %}
            <!--  -->
            {% endfor %}
          </ul>
        </div>

        <div class="hidden select-none items-center justify-center p-8 sm:flex">
          <figure>
            <img
              class="mb-6 h-32 rounded-2xl opacity-75 transition-all duration-300 hover:opacity-100 hover:shadow-2xl hover:shadow-primary-light dark:hover:shadow-primary-dark lg:h-40"
              src="{% static 'images/logo-192x192.png' %}"
              alt="Tiger"
            />
            <figcaption class="text-center font-medium lg:text-lg">
              Weekly Planner
            </figcaption>
          </figure>
        </div>
      </div>
      {% else %}
      <p class="mt-40 px-4 text-center text-xl sm:mt-60 sm:text-2xl lg:mt-80">
        Create your schedule for the week.
      </p>
      {% endif %}
    </main>

    {% endblock content %}

    <!--  -->

    {% block footer %}
    <!--  -->
    {% include "components/footer.html" %}
    <!--  -->
    {% endblock footer %}

    <!--  -->

    {% block javascript %}

    <!-- JavaScript -->
    <script src="{% static 'js/main.min.js' %}"></script>

    {% endblock javascript %}
  </div>
</body>

{% endblock body %}
