{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}Terms{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Terms Detail Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>{{ object.title }}</h1>

  <p>{{ object.description }}</p>

  <p>{{ object.body }}</p>

  <a href="{% url 'app:terms_list' %}">Back</a>
</main>
{% endblock content %}
