{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}Terms{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Terms List Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>Terms</h1>

  {% for object in page_obj %}
  <h2>
    <a href="{% url 'app:terms_detail' object.slug %}">{{ object.title }}</a>
    - {{ object.created.date }}
  </h2>

  <p>{{ object.description }}</p>

  <hr />

  {% endfor %}
</main>
{% endblock content %}
