{% extends "base.html" %}

<!--  -->

{% block head_title %}Profile{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="Profile Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block main %}
<main>
  <div>
    <h1>Profile</h1>

    <div>
      {% if user.first_name == '' %}
      <p>First Name: None</p>
      {% else %}
      <p>First Name: {{ user.first_name }}</p>
      {% endif %}
    </div>

    <div>
      {% if user.last_name == '' %}
      <p>Last Name: None</p>
      {% else %}
      <p>Last Name: {{ user.last_name }}</p>
      {% endif %}
    </div>

    <div>
      <p>Username: {{ user.username }}</p>
    </div>

    <a href="{% url 'accounts:profile_change' request.user.id %}">Change</a>
  </div>
</main>
{% endblock main %}
