@layer components {
  .form-control {
    @apply w-full
    rounded-md
    border
  border-border-light
  bg-background-primary-light 
    p-2 
    text-sm
    transition-colors
    duration-300
  placeholder:text-text-light    
  hover:border-primary-light 
  dark:border-border-dark
  dark:bg-background-primary-dark 
  dark:placeholder:text-text-dark
  dark:hover:border-primary-dark;
  }
}

/* Accounts */
#id_login,
#id_password,
#id_email,
#id_username,
#id_password1,
#id_password2,
#id_oldpassword {
  @apply form-control;
}

/* Task Form */
#id_title,
#id_day,
#id_time_start,
#id_time_end {
  @apply form-control;
}
