<div class="flex justify-evenly">
  <a
    class="flex items-center justify-center rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-600 dark:focus:ring-primary-500"
    href="#"
  >
    <span
      class="text-sm font-medium text-primary-500 underline-offset-2 hover:text-primary-600 hover:underline dark:text-primary-500 dark:hover:text-primary-400"
    >
      Terms of Use
    </span>
  </a>

  <span class="text-border-light dark:text-border-dark">|</span>

  <a
    class="flex items-center justify-center rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-600 dark:focus:ring-primary-500"
    href="#"
  >
    <span
      class="text-sm font-medium text-primary-500 underline-offset-2 hover:text-primary-600 hover:underline dark:text-primary-500 dark:hover:text-primary-400"
    >
      Privacy Policy
    </span>
  </a>
</div>
