<div class="flex justify-evenly">
  <a
    class="flex items-center justify-center rounded-md text-blue-500 underline-offset-2 hover:underline dark:text-blue-500"
    href="#"
  >
    <span class="text-sm font-medium">Terms of Use</span>
  </a>

  <span class="text-border-light dark:text-border-dark">|</span>

  <a
    class="flex items-center justify-center rounded-md text-blue-500 underline-offset-2 hover:underline dark:text-blue-500"
    href="#"
  >
    <span class="text-sm font-medium">Privacy Policy</span>
  </a>
</div>
