{% extends 'base.html' %}

<!--  -->

{% load i18n %}

<!--  -->

{% block head_title %}{% trans "Forbidden (403)" %}{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="403 CSRF Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main class="py-16">
  <div class="mt-20 flex justify-center px-4 md:mt-40">
    <div
      class="border-border-light dark:border-border-dark shadow-shadow-light rounded-lg border bg-background-secondary-light p-6 shadow-md dark:bg-background-secondary-dark dark:shadow-none"
    >
      <h1 class="mb-8 mt-2 text-center font-medium">
        {% trans "Forbidden (403)" %}
      </h1>

      <hr class="border-border-light dark:border-border-dark" />

      <p class="mt-5 text-center">
        {% trans "CSRF verification failed. Request aborted." %}
      </p>
    </div>
  </div>
</main>
{% endblock content %}
