{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block head_title %}404 Page not found{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="404 Page" />
<meta name="author" content="Niel Conradie" />

<!-- Favicon -->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'favicon/favicon.ico' %}"
/>

{% endblock extra_head %}

<!--  -->

{% block content %}
<main>
  <h1>404</h1>
  <p>Page not found!</p>
</main>
{% endblock content %}
