{% extends 'base.html' %}

<!--  -->

{% block head_title %}500{% endblock head_title %}

<!--  -->

{% block extra_head %}

<!-- Meta -->
<meta name="description" content="500 Page" />
<meta name="author" content="Niel Conradie" />

{% endblock extra_head %}

<!--  -->

{% block content %}
<main class="py-16">
  <div class="mt-14 flex justify-center px-4 md:mt-28">
    <div class="w-80">
      <div
        class="rounded-lg border border-border-light bg-background-secondary-light p-4 shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
      >
        <h1 class="mb-4 mt-0 text-center text-2xl font-medium">500</h1>

        <hr class="mb-4 border-border-light dark:border-border-dark" />

        <p class="text-center">Looks like something went wrong!</p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
