{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block head_title %}{% endblock head_title %} | To Do</title>

    {% block extra_head %}

    <meta
      name="description"
      content="Django with Tailwind To Do Web Application"
    />
    <meta name="author" content="Niel Conradie" />

    {% endblock extra_head %}

    <!--  -->

    {% block favicon %}

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'favicon/favicon.ico' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.png' %}"
    />

    {% endblock favicon %}

    <!--  -->

    {% block fonts %}

    <!-- Poppins | 400 500  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    {% endblock fonts %}

    <!--  -->

    {% block css %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />

    <!-- Normalize CSS v.8.0.1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    {% endblock css %}

    <!--  -->

    {% block script %}

    <!-- Theme Toggle FOUC Fix -->
    <script type="text/javascript">
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    {% endblock script %}
  </head>
  {% block body %}

  <body
    class="bg-background-primary-light font-primary text-text-light dark:bg-background-primary-dark dark:text-text-dark"
  >
    {% block header %}
    <!--  -->
    {% include "components/navbar.html" %}
    <!--  -->
    {% endblock header %}

    <!--  -->

    {% block message %}
    <!--  -->
    {% include 'components/message.html' %}
    <!--  -->
    {% endblock message %}

    <!--  -->

    {% block content %}
    <!--  -->
    {% endblock content %}

    <!--  -->

    {% block footer %}
    <!--  -->
    {% include "components/footer.html" %}
    <!--  -->
    {% endblock footer %}

    <!--  -->

    {% block javascript %}

    <!-- JavaScript -->
    <script src="{% static 'js/main.min.js' %}"></script>

    {% endblock javascript %}
  </body>

  {% endblock body %}

  <!--  -->

  {% block extra_body %}
  <!--  -->
  {% endblock extra_body %}
</html>
