{% load static %} {% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block head_title %}{% endblock head_title %} | To Do</title>

    {% block extra_head %}

    <!-- Meta -->
    <meta name="description" content="Django with Tailwind To Do" />
    <meta name="author" content="Niel Conradie" />

    {% endblock extra_head %}

    <!--  -->

    {% block favicon %}

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'favicon/favicon.ico' %}"
    />

    {% endblock favicon %}

    <!--  -->

    {% block fonts %}

    <!-- Poppins | 400 500 600 700 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    {% endblock fonts %}

    <!--  -->

    {% block css %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />

    <!-- Font Awesome CSS v.6.4.2 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Normalize CSS v.8.0.1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    {% endblock css %}
  </head>
  <body class="bg-background font-primary text-text">
    {% block body %}
    <!--  -->

    {% block header %}
    <!--  -->
    {% include "components/navbar.html" %}
    <!--  -->
    {% endblock header %}

    <!--  -->

    {% block content %}
    <!--  -->
    {% endblock content %}

    <!--  -->

    {% block footer %}
    <!--  -->
    {% include "components/footer.html" %}
    <!--  -->
    {% endblock footer %}

    <!--  -->

    {% block javascript %}

    <!-- JavaScript -->
    <script src="{% static 'js/main.min.js' %}"></script>

    <!-- Font Awesome JavaScript v.6.4.2 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
      integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    {% endblock javascript %}

    <!--  -->

    {% endblock body %}

    <!--  -->

    {% block extra_body %}
    <!--  -->
    {% endblock extra_body %}
  </body>
</html>
