{% load i18n %}

<header
  class="fixed top-0 min-w-full border-b border-border-light bg-background-secondary-light shadow-md shadow-shadow-light dark:border-border-dark dark:bg-background-secondary-dark dark:shadow-none"
>
  <div class="container mx-auto flex h-16 items-center justify-between px-4">
    <div>
      {% if request.user.is_authenticated %}
      <a
        class="flex items-center justify-center rounded-lg px-5 py-2.5 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:focus:ring-primary-500"
        href="{% url 'app:home' %}"
      >
        <span
          class="text-xl font-medium hover:text-primary-600 dark:hover:text-primary-400"
        >
          To Do
        </span>
      </a>
      {% else %}
      <a
        class="flex items-center justify-center rounded-lg px-5 py-2.5 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:focus:ring-primary-500"
        href="{% url 'app:index' %}"
      >
        <span
          class="text-xl font-medium hover:text-primary-600 dark:hover:text-primary-400"
        >
          To Do
        </span>
      </a>
      {% endif %}
    </div>

    {% if request.user.is_authenticated %}
    <div>
      <a class="btn-primary" href="{% url 'account_logout' %}">
        <span class="btn-text">{% trans 'Sign Out' %}</span>
      </a>
    </div>
    {% else %}
    <div class="grid grid-cols-2 gap-4">
      <a class="btn-primary" href="{% url 'account_login' %}">
        <span class="btn-text">{% trans 'Sign In' %}</span>
      </a>
      <a class="btn-primary" href="{% url 'account_signup' %}">
        <span class="btn-text">{% trans 'Sign Up' %}</span>
      </a>
    </div>
    {% endif %}
  </div>
</header>
